.account-bank {
  padding: 50px 0;

  &-title {
    text-align: center;
  }

  &-body {
    padding: 20px 40px 0;
    display: flex;
  }

  &-list {
    flex-grow: 1;
  }

  &-chart {
    margin-left: 10px;
    width: 330px;

    canvas {
      width: 280px;
      height: 280px;
    }
  }

  &-list-action {
    display: flex;
    justify-content: space-between;
  }

  &-list-content {
    margin-top: 20px;
  }
}
